<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.persist.CityMapper">

    <sql id="Base_Column_List">
        id, provinceId, name, description,status,createTime,updateTime
    </sql>

    <insert id="addCity" parameterType="com.ssm.model.DO.CityDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  city (provinceId,name,description)
        VALUE (#{provinceId},#{name},#{description})
    </insert>

    <select id="selectByName" resultType="com.ssm.model.DO.CityDO">
        select
        <include refid="Base_Column_List"/>
        from city
        where name = #{cityName}  and status = 1
    </select>

    <select id="selectById" resultType="com.ssm.model.DO.CityDO">
        select
        <include refid="Base_Column_List"/>
        from city
        where id = #{id} and status  = 1
    </select>

    <select id="selectCityByProvinceId" resultType="com.ssm.model.DO.CityDO">
        select
        <include refid="Base_Column_List"/>
        from city
        where provinceId = #{provinceId}  and status = 1
    </select>
</mapper>